In [1]:
import pandas as pd, pymysql, numpy as np
from sqlalchemy import *

conn = create_engine(
            'mysql+pymysql://yerdon:Qaz84759@sh-cynosdbmysql-grp-9v8niq3a.sql.tencentcdb.com:21749/hustzz')

# 一、读取生源质量（算分）
1. 读取生源质量原表
2. 匹配学号、院系、年级

In [7]:
data = pd.read_sql("select * from syzl", conn)
data = pd.merge(data, pd.read_sql("select XH, NJ, DWBH, SFZJH zjhm from GS", conn), how="left", on="zjhm").fillna(0).replace(0, "")

In [23]:
def tianchong(df):
    xkpg = df['byzyxkpg']
    sf211 = df['sf211']
    sf985 = df['sf985']
    
    if len(xkpg) > 0 :
        if xkpg == 'A+':
            return 0.98
        elif xkpg == 'A':
            return 0.95
        elif xkpg == 'A-':
            return 0.9
        elif xkpg == 'B+':
            return 0.8
        elif xkpg == 'B':
            return 0.7
        elif xkpg == 'B-':
            return 0.6
        elif xkpg == 'C+':
            return 0.5
        elif xkpg == 'C':
            return 0.4
        elif xkpg == 'C-':
            return 0.3
    elif xkpg == "" and sf985 == '1':
        return 0.9
    elif xkpg == "" and sf211 == '1':
        return 0.6
    else:
        return 0.2
    
data['得分'] = data.apply(tianchong, axis=1)

In [ ]:
data.to_excel("data.xlsx", index=False)

3. 透视

In [ ]:
data_pvt = data.drop_duplicates(subset='zjhm').pivot_table(index='DWBH', columns='NJ', values='得分', aggfunc=['sum', 'count'])

In [25]:
data_pvt.to_excel("得分1.xlsx")

# 二、算人

In [21]:
sql = "SELECT DWBH, XH, NJ, LQLBMC FROM GS WHERE XJZTMC IN ('正常', '联合培养') AND SXLBMC='全日制硕士研究生'  AND (NJ BETWEEN 2020 AND 2022)"
left = pd.read_sql(sql, conn)

sql = "SELECT 学号 XH, 专项计划名称 FROM zhuanxiangjihua"
right = pd.read_sql(sql, conn)

merge = pd.merge(left, right, how='left', on='XH')

In [22]:
merge.pivot_table(index='DWBH', columns=['NJ'], values='XH', aggfunc='count').to_excel("人数.xlsx")